<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false"/>
    <arg name="year" default="2019"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find phoenixbot_gazebo)/worlds/mrdc$(arg year).world"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
</launch>

