<?xml version="1.0"?>
<launch>
    <arg name="map" default=""/>

    <!-- Launch SLAM if no static map supplied -->
    <group if="$(eval map == '')">
        <node pkg="gmapping" type="slam_gmapping" name="slam">
            <param name="scan" value="scan"/>
        </node>
    </group>


    <!-- Launch map server and AMCL if a static map was supplied -->
    <group unless="$(eval map == '')">
        <node pkg="map_server" type="map_server" name="map_server" args="$(find phoenixbot_2dnav)/maps/$(arg map)"/>
        <node pkg="amcl" type="amcl" name="amcl_localization">
                <param name="scan" value="scan"/>
                <param name="tf_broadcast" value="false"/>
        </node>
    </group>

    <!-- Launch marker localization -->
    <node name="aruco_board" type="aruco_board" pkg="phoenixbot_localization">
        <rosparam command="load" file="$(find phoenixbot_localization)/config/markers.yaml"/>
    </node>

    <!-- Launch localization filters -->
    <remap from="set_pose" to="initialpose"/>

    <!-- Odom filter -->
    <node name="odom_localization_node" type="ekf_localization_node" pkg="robot_localization">
        <rosparam command="load" file="$(find phoenixbot_localization)/config/localization.yaml"/>
    </node>

    <!-- Map filter -->
    <node name="map_localization_node" type="ekf_localization_node" pkg="robot_localization">
        <rosparam command="load" file="$(find phoenixbot_localization)/config/localization.yaml"/>
        <rosparam command="load" file="$(find phoenixbot_localization)/config/absolute_localization.yaml"/>
    </node>

</launch>

