<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="phoenixbot">
    <!-- Include utility macros and variables -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/util.xacro" />

    <!-- Include gazebo elements -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot.gazebo" />

    <!-- Include the chassis -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot_chassis.xacro" />

	<link name="front_camera"/>
	<joint name="front_camera_joint" type="fixed">
		<parent link="base_link"/>
		<child link="front_camera"/>
		<origin xyz="${8 * IN} 0 ${5 * IN}" rpy="0 0.2 0"/>
	</joint>

	<link name="laser_link"/>
	<joint name="laser_joint" type="fixed">
		<parent link="base_link"/>
		<child link="laser_link"/>
        <origin xyz="${10.73 * IN} 0 ${3 * IN}"/>
	</joint>
</robot>

