<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="phoenixbot">
    <!-- Include utility macros and variables -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/util.xacro" />

    <!-- Include gazebo elements -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot.gazebo" />

    <!-- Include the chassis -->
    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot_chassis.xacro" />

    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot_simon.xacro" />

    <xacro:include filename="$(find phoenixbot_description)/urdf/phoenixbot_pulley.xacro" />

	<link name="camera"/>
	<joint name="camera_joint" type="fixed">
		<parent link="base_link"/>
		<child link="camera"/>
        <origin xyz="${4.875 * IN} ${-14.375 * IN} ${14.125 * IN}" rpy="0 -0.1 0"/>
	</joint>

	<link name="imu_base_link"/>
	<joint name="imu_joint" type="fixed">
		<parent link="base_link"/>
		<child link="imu_base_link"/>
        <origin xyz="0 ${1 * IN} 0"/>
	</joint>

	<link name="laser_link"/>
	<joint name="laser_joint" type="fixed">
		<parent link="base_link"/>
		<child link="laser_link"/>
        <origin xyz="${10.73 * IN} 0 ${3 * IN}"/>
	</joint>
</robot>

