<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="phoenixbot">
    <xacro:property name="IN" value="0.0254" />
    <xacro:property name="DEG" value="${pi/180}" />
    <xacro:property name="LBS" value="0.453592" />

    <xacro:macro name="cylinder_inertia" params="mass radius thickness">
        <xacro:property name="INERTIA" value="${mass/12*(3*radius**2+thickness**2)}"/>
        <inertial>
            <mass value="${mass}"/>
            <inertia ixx="${INERTIA}" iyy="${INERTIA}" izz="${INERTIA}" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </xacro:macro>

    <xacro:macro name="trivial_inertia">
        <xacro:property name="INERTIA" value="0.01"/>
        <inertial>
            <mass value="0.01"/>
            <inertia ixx="${INERTIA}" iyy="${INERTIA}" izz="${INERTIA}" ixy="0" ixz="0" iyz="0"/>
        </inertial>
    </xacro:macro>
</robot>
