<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" />

    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find phoenixbot_description)/urdf/phoenixbot.urdf" />

    <!-- Spawn hardware interface if running in real mode -->
    <node unless="$(arg sim)" name="phoenixbot_driver" pkg="phoenixbot_driver" type="phoenixbot_driver" />

    <!-- Launch the controllers -->
    <rosparam file="$(find phoenixbot_driver)/config/controllers.yaml" command="load"/>
    <node unless="$(arg sim)" output="screen" name="controller_spawner" pkg="controller_manager" type="spawner"
          args="move_base_controller state_controller simon_arm_controller rope_controller --shutdown-timeout 1"/>
    <node if="$(arg sim)" output="screen" name="controller_spawner" pkg="controller_manager" type="spawner"
          args="move_base_controller state_controller simon_arm_position_controller rope_controller --shutdown-timeout 1"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
</launch>

