<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false" />

    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find phoenixbot_description)/urdf/phoenixbot.urdf" />

    <!-- Launch the controllers -->
    <rosparam file="$(find phoenixbot_driver)/config/controllers.yaml" command="load"/>
    <node respawn="false"
          name="controller_spawner" pkg="controller_manager" type="spawner"
          args="move_base_controller state_controller simon_arm_controller rope_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <!-- Spawn hardware interfaces if running in real mode -->
    <group unless="$(arg sim)">
      <include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

      <node name="phoenixbot_driver" pkg="phoenixbot_driver" type="phoenixbot_driver" output="screen">
        <param name="port" value="/dev/ttyACM0"/>
      </node>

      <node name="usb_cam" type="usb_cam_node" pkg="usb_cam">
          <param name="video_device" value="/dev/video0"/>
          <param name="camera_name" value="front_camera"/>
      </node>
    </group>
</launch>

