<?xml version="1.0"?>

<!-- TODO: Put all this in one namespace? -->
<launch>
    <arg name="map" default="mrdc_nav.yaml"/>

    <!-- If a map should be used for navigation bring it up -->
    <node  unless="$(eval map=='')" ns="nav_map" pkg="map_server" type="map_server" name="nav_map_server" args="$(find phoenixbot_2dnav)/maps/$(arg map)"/>
    <remap unless="$(eval map=='')" from="map_metadata" to="nav_map/map_metadata"/>
    <remap unless="$(eval map=='')" from="map" to="nav_map/map"/>
    <remap unless="$(eval map=='')" from="static_map" to="nav_map/static_map"/>

    <!-- Launch move base -->
    <remap from="cmd_vel" to="move_base/cmd_vel"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find phoenixbot_2dnav)/config/global_planner.yaml" command="load" />
        <rosparam file="$(find phoenixbot_2dnav)/config/local_planner.yaml" command="load" />
        <rosparam file="$(find phoenixbot_2dnav)/config/costmap.yaml" command="load" />
        <rosparam file="$(find phoenixbot_2dnav)/config/move_base.yaml" command="load" />
        <param name="controller_frequency" value="10.0"/>
    </node>
</launch>
