<?xml version="1.0"?>

<launch>
    <!-- Name of map if using static map -->
    <arg name="map" default=""/>

    <!-- Name of nav map if a different map should be used-->
    <arg name="nav_map" default=""/>

    <!-- Run the robot in gazebo instead of trying to connect to real hardware -->
    <arg name="sim" default="false"/>

    <!-- Display gzclient during launch -->
    <arg name="gui" default="false"/>

    <!-- Display rviz with proper config during launch -->
    <arg name="rviz" default="$(arg sim)"/>

    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find phoenixbot_description)/urdf/phoenixbot.urdf" />

    <!-- Set use_sim_time early so no issues -->
    <param name="use_sim_time" value="$(arg sim)"/>

    <!-- Launch robot control -->
    <group if="$(arg sim)">
        <!-- Launch gazebo if in simulation mode-->
        <include file="$(find simulation)/launch/mrdc.launch">
            <arg name="gui" value="false"/>
        </include>
        <node if="$(arg gui)" required="true" name="gzclient" pkg="gazebo_ros" type="gzclient"/>

        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -z 2 -x -5.5 -y -5.5 -Y 0.785398 -model phoenixbot -param robot_description"/>
    </group>

    <!-- Launch hardware arm control -->
    <include file="$(find phoenixbot_driver)/launch/phoenixbot_driver.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <include file="$(find phoenixbot_2dnav)/launch/phoenixbot_nav.launch">
        <arg name="map" value="$(arg map)"/>
        <arg name="nav_map" value="$(arg nav_map)"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" required="true"
        args="--display-config $(find phoenixbot_launch)/config/phoenixbot.rviz"/>
</launch>

