<?xml version="1.0"?>

<launch>
    <arg name="robot"/>

    <node unless="$(arg robot)" type="joy_node" pkg="joy" name="joy">
        <param name="autorepeat_rate" value="10"/>
    </node>
    <node unless="$(arg robot)" name="phoenixbot_teleop" pkg="phoenixbot_behavior_coordination" type="phoenixbot_teleop.py"/>
    <include if="$(arg robot)" file="$(find phoenixbot_driver)/launch/phoenixbot_driver.launch">
    </include>
</launch>

