<?xml version="1.0"?>

<launch>
    <!-- Run the robot in gazebo instead of trying to connect to real hardware -->
    <arg name="sim" default="false"/>

    <!-- Start main phoenixbot nodes-->
    <include file="$(find phoenixbot_launch)/launch/phoenixbot_base.launch">
      <arg name="world"   value="worlds/mrdc2019.world"/>
      <arg name="map" value="mrdc2019_nav.yaml"/>
      <arg name="nav_map" value="mrdc2019_nav.yaml"/>
      <arg name="sim"     value="$(arg sim)"/>

      <arg name="x" value="-2.4384"/>
      <arg name="y" value="-2.4384"/>
      <arg name="z" value="1.6096"/>
      <arg name="Y" value="1.5708"/>
    </include>

    <!-- Launch behavior coordination -->
    <include file="$(find phoenixbot_behavior_coordination)/launch/phoenixbot_behavior_coordination.launch">
    </include>

    <!-- Display rviz with proper config during launch -->
    <arg name="rviz" default="$(arg sim)"/>
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" required="true"
        args="--display-config $(find phoenixbot_launch)/config/phoenixbot.rviz"/>

    <arg name="gui" default="false"/>
    <node if="$(eval sim and gui)" required="true" name="gzclient" pkg="gazebo_ros" type="gzclient"/>
</launch>
