<?xml version="1.0"?>

<!-- Launches bare minimum phoenixbot required to test the simulation model -->
<launch>
    <arg name="world" default="worlds/empty.world"/>

    <!-- Start main phoenixbot nodes -->
    <include file="$(find phoenixbot_launch)/launch/phoenixbot_base.launch">
      <arg name="sim"          value="true"/>
      <arg name="world"        value="$(arg world)"/>
      <arg name="localization" value="false"/>
      <arg name="navigation"   value="false"/>
    </include>1

    <!-- Display rviz with proper config during launch -->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="--display-config $(find phoenixbot_launch)/config/phoenixbot.rviz"/>

    <node required="true" name="gzclient" pkg="gazebo_ros" type="gzclient"/>
</launch>
