<?xml version="1.0"?>

<launch>
    <!-- Name of map if using static map -->
    <arg name="map" default="mrdc_laser.yaml"/>

    <!-- Name of nav map if a different map should be used-->
    <arg name="nav_map" default="mrdc_nav.yaml"/>

    <!-- Run the robot in gazebo instead of trying to connect to real hardware -->
    <arg name="sim" default="false"/>

    <!-- Display gzclient during launch -->
    <arg name="gui" default="false"/>

    <!-- Display rviz with proper config during launch -->
    <arg name="rviz" default="$(arg sim)"/>

    <arg name="auto" default="true"/>

    <!-- Load robot description -->
    <param name="robot_description" textfile="$(find phoenixbot_description)/urdf/phoenixbot.urdf" />

    <!-- Set use_sim_time early so no issues -->
    <param name="use_sim_time" value="$(arg sim)"/>

    <!-- Launch robot control -->
    <group if="$(arg sim)">
        <!-- Launch gazebo if in simulation mode-->
        <include file="$(find phoenixbot_gazebo)/launch/mrdc.launch">
            <arg name="gui" value="false"/>
        </include>
        <node if="$(arg gui)" required="true" name="gzclient" pkg="gazebo_ros" type="gzclient"/>

        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
          args="-urdf -z 0.6096 -x -2.4384 -y 2.4384 -Y 2.35619 -model phoenixbot -param robot_description"/>
    </group>

    <include file="$(find phoenixbot_driver)/launch/phoenixbot_driver.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <include file="$(find razor_imu_9dof)/launch/razor-pub.launch"/>

    <!-- Launch localization -->
    <include file="$(find phoenixbot_localization)/launch/phoenixbot_localization.launch">
        <arg name="map" value="$(arg map)"/>
    </include>

    <!-- Launch navigation -->
    <include file="$(find phoenixbot_2dnav)/launch/phoenixbot_nav.launch">
    </include>

    <!-- Launch behavior coordination -->
    <include if="$(arg auto)" file="$(find phoenixbot_behavior_coordination)/launch/phoenixbot_behavior_coordination.launch">
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" required="true"
        args="--display-config $(find phoenixbot_launch)/config/phoenixbot.rviz"/>

</launch>

