<?xml version="1.0"?>

<launch>
    <node type="joy_node" pkg="joy" name="joy">
        <param name="autorepeat_rate" value="10"/>
    </node>
    <node name="phoenixbot_teleop" pkg="phoenixbot_behavior_coordination" type="phoenixbot_teleop.py"/>
    <include file="$(find phoenixbot_driver)/launch/phoenixbot_driver.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>
</launch>

