<?xml version="1.0"?>

<launch>
    <node type="joy_node" pkg="joy" name="joy">
        <param name="autorepeat_rate" value="10"/>
    </node>

    <remap from="cmd_vel" to="teleop/cmd_vel"/>
    <node type="teleop_node" name="teleop_node" pkg="teleop_twist_joy">
      <param name="scale_linear" value="0.2"/>
      <param name="scale_angular" value="0.3"/>
    </node>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
        args="--display-config $(find phoenixbot_launch)/config/phoenixbot.rviz"/>
</launch>
